__pycache__/clock_animation.cpython-38.pyc
__pycache__/clock.cpython-35.pyc
__pycache__/clock.cpython-38.pyc
__pycache__/expanse.cpython-35.pyc
__pycache__/expanse.cpython-38.pyc
__pycache__/fireflies.cpython-35.pyc
__pycache__/gif.cpython-35.pyc
__pycache__/hex_mask.cpython-35.pyc
__pycache__/hex_mask.cpython-38.pyc
__pycache__/led_strip.cpython-35.pyc
__pycache__/pplight_rain.cpython-35.pyc
__pycache__/rain.cpython-35.pyc
__pycache__/simulate_helpers.cpython-38.pyc
__pycache__/spin.cpython-35.pyc
__pycache__/text_for_hex.cpython-38.pyc
gifs/birdseyewaves.gif
gifs/cubelayers_zoom.gif
gifs/darkwater50_2.gif
gifs/darkwater50.gif
gifs/greenring_zoom.gif
gifs/greenring60.gif
gifs/orangesky50.gif
gifs/outwarp50.gif
gifs/pinksunset50.gif
gifs/purple50.gif
gifs/purpleripples50.gif
gifs/redwater100.gif
gifs/spacewarp50.gif
gifs/squarewarp100.gif
gifs/starburst50.gif
gifs/sunsetwater50.gif
gifs/vortexblur100.gif
gifs/warp_dark.gif
gifs/warp50.gif
gifs/waterballyellow50.gif
gifs/yellowwaves_dark.gif
gifs/yellowwaves80.gif
gifs/np/birdseyewaves.npy
gifs/np/blueshift100.npy
gifs/np/cubelayers_100.npy
gifs/np/cubelayers_linear50.npy
gifs/np/cubelayers_zoom.npy
gifs/np/darkwater50_2.npy
gifs/np/darkwater50.npy
gifs/np/greenring_zoom.npy
gifs/np/greenring60.npy
gifs/np/hextunnel50.npy
gifs/np/orangesky50.npy
gifs/np/orangesky100.npy
gifs/np/outwarp50.npy
gifs/np/pinksunset50.npy
gifs/np/plasmaball.npy
gifs/np/purple50.npy
gifs/np/purpleripples50.npy
gifs/np/rainbowwaves.npy
gifs/np/redwater100.npy
gifs/np/spacewarp50.npy
gifs/np/squarewarp100.npy
gifs/np/starburst50.npy
gifs/np/sunsetwater50.npy
gifs/np/vortexblur100.npy
gifs/np/warp_dark.npy
gifs/np/warp50.npy
gifs/np/waterballyellow50.npy
gifs/np/yellowwaves_dark.npy
gifs/np/yellowwaves80.npy
__pycache__/clock.cpython-311.pyc
__pycache__/expanse.cpython-311.pyc
__pycache__/hex_mask.cpython-311.pyc
__pycache__/led_strip.cpython-38.pyc
__pycache__/led_strip.cpython-311.pyc
__pycache__/shader_comp.cpython-38.pyc
__pycache__/shader_frame_gen_copy.cpython-38.pyc
__pycache__/shader_test_cloud_tunnel.cpython-311.pyc
__pycache__/shader_test_makis_snoise.cpython-311.pyc
__pycache__/shader_test_tentacles.cpython-311.pyc
__pycache__/shader_test.cpython-311.pyc
__pycache__/shader.cpython-38.pyc
__pycache__/shader.cpython-311.pyc
__pycache__/spin.cpython-38.pyc
__pycache__/spin.cpython-311.pyc
pi3d_shader.py
rpi_main copy.py
rpi_main_simple.py
set_all_pixels.pyx
shader_frame_gen_cloud_warp.py
shader_frame_gen_copy.py
shader_frame_gen_plasma_ball.py
shader_frame_gen_pyro_ball.py
shader_frame_gen.py
shader_makis_snoise.py
shader_test_cloud_tunnel.py
shader_test_makis_snoise.py
shader_test_tentacles.py
shader_test.py
shaders/fbm_simplex3d_smoke.fs
shaders/plasma_globe.fs
shaders/pyroclastic_fireball.fs
shaders/shield.fs
shaders/simple_lava_lamp.fs
